<main
  class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-[90%] md:max-w-[650px] h-auto flex flex-col items-center p-4 md:p-0"
>
  <!-- Contenedor del formulario -->
  <section
  class="w-full max-w-[100%]  bg-[#E0E9ED] md:max-w-[534px] p-4 md:p-6 rounded-xl  shadow-[0_80px_25px_rgba(0,0,0,0.2)] mb-4"
  >
    <!-- Logo -->
    <header
      class="flex items-center justify-center w-full h-[100px] mb-4"
    >
      <figure class="w-[200px] h-[67.38px]">
        <img
          src="https://s3-alpha-sig.figma.com/img/b468/47e0/7a4d76d5e5326e185b1fbbece43de662?Expires=1733097600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BFAItHaCmYWHtLEz0mfwmzeEQwvn4ex-T6Gs2kmfHroLZOR0L~KCuMLrp9hHO~~NYhdpmnVg3krlxNckd-5Yd2ZQqYY96ubLGQ4ll5rVuFqgNHkYgkNtqEpJCbWDtsb6bBCC2-5vHR~KfPAEun8UayaCRAO9c04Afwp0vJ1jvklKmdqyMxmt7ZJysrBzxz2gWGIx29oSYf5CB5xxsmWzds5ACc5fE~JDTUn9~Pbs3n-MMdg7QMwcZmshSHWPTBITVytLHddmsxK9p~-LpcwArf3qcqLfUQK925mP7DE4aArsrF0EXse50tf5xMX0c-uqfCvGP0kn7k6NnyA3xBYD2w__"
          alt="Logo de StockIt"
          class="w-full h-full object-contain"/>
      </figure>
    </header>

    <!-- Título del formulario -->
    <h2 class="text-4xl font-bold text-center text-gray-900">
      ¡Bienvenido de nuevo!
    </h2>
    <p class="text-1xl font-bold text-center text-gray-900 mb-6">
      Accede para gestionar tu inventario
    </p>

    <!-- Formulario -->
    <form>
      <!-- Agrupar campos de formulario con fieldset -->
      <fieldset class="w-full h-auto flex flex-col justify-between mb-4 text-black ">
        <legend class="sr-only">Formulario de inicio de sesión</legend>

        <!-- Campo de correo -->
        <div class="w-full h-auto flex flex-col justify-between mb-4">
          <label for="email" class="text-sm font-semibold"
            >Correo electrónico</label
          >
          <input
            id="email"
            name="email"
            type="text"
            placeholder="StockIt@gmail.com"
            [(ngModel)]="email"
            required
            class="input input-bordered w-full h-[48px] bg-[#F8F9F8] border-[#E0E9ED] focus:outline-none"
            (input)="validateEmail()"
          />
          <span *ngIf="emailError" class="text-red-500 text-sm">{{
            emailError
          }}</span>
        </div>

        <!-- Campo de contraseña -->
        <div class="w-full h-auto flex flex-col justify-between">
          <label for="password" class="text-sm font-semibold">Contraseña</label>
          <input
            id="password"
            name="password"
            type="password"
            placeholder="*******"
            [(ngModel)]="password"
            required
            class="input input-bordered w-full h-[48px] bg-[#F8F9F8] border-[#E0E9ED] focus:outline-none"
            (input)="validatePassword()"
          />
          <span *ngIf="passwordError" class="text-red-500 text-sm">{{
            passwordError
          }}</span>
        </div>
      </fieldset>

      <!-- Botón de Ingresar -->
      <div class="w-full h-[48px] mt-4">
        <button
          class="btn btn-success w-full text-sm font-semibold disabled:opacity-50 disabled:bg-[#4CAF50] disabled:cursor-not-allowed"
          [disabled]="!email || !password || emailError || passwordError"
        >
          Ingresar
        </button>
        <!-- (click)="onLogin()" -->
      </div>
    </form>

    <!-- Enlace a Registro -->
    <footer>
      <p class="text-center mt-4 text-sm text-black">
        ¿No tienes cuenta?
        <a
          routerLink="/register"
          class="text-[#4CAF50] font-semibold hover:underline"
        >
          Regístrate aquí
        </a>
      </p>
    </footer>
  </section>
</main>